@model IEnumerable<WebApplication1.Views.ProjectViewModel>
@{
    ViewBag.Title = @ProjectsList.Title;
}

<h2>@ProjectsList.Title <a href="@Url.Action("", "")"><i class="fa fa-plus" aria-hidden="true"></i></a> </h2>

<div class="row">
    <div class="list-group">
        @foreach (var item in Model)
        {
            <div class="list-group-item">
                <a href="@Url.Action("", "", new {projectId = item.Id})"><i class="fa fa-address-card" aria-hidden="true"></i></a>
                <a href="@Url.Action("", "", new {projectId = item.Id})"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a href="@Url.Action("", "", new {projectId = item.Id})"><i class="fa fa-trash" aria-hidden="true"></i></a>
                @Html.Label(item.Name)
            </div>
        }
    </div>
</div>