@model IEnumerable<WebApplication1.Models.ProjectViewModel>
@{
    ViewBag.Title = @ProjectsList.Title;
}

<h2>
    @ProjectsList.Title
    @*<a class="pull-right" href="@Url.Action("Create", "Project")">
        <i class="fa fa-plus action-icon" aria-hidden="true"> @Navigation.Create</i>
    </a>*@
    <button class="btn btn-default pull-right action-icon">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
</h2>

<div class="row">
    <div class="list-group">
        @foreach (var item in Model)
        {
            <div class="list-group-item">
                @Html.Label(item.Name)
                <span class="pull-right margin-right-sm">
                    <a href="@Url.Action("Project", "Project", new {projectId = item.Id})"><i class="fa fa-address-card action-icon" aria-hidden="true"></i></a>
                </span>
                <span class="pull-right margin-right-sm">
                        <a href="@Url.Action("", "", new {projectId = item.Id})"><i class="fa fa-pencil action-icon" aria-hidden="true"></i></a>
                    </span>
                <span class="pull-right margin-right-sm">
                    <a href="@Url.Action("", "", new {projectId = item.Id})"><i class="fa fa-trash action-icon" aria-hidden="true"></i></a>
                </span>
            </div>
        }
    </div>
</div>